@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.navbar{
    background-color: gold;
    padding-top: 0.5rem;
    justify-content: center;
    font-weight: 500;
}

.main-content{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crud-container{
    width: 70%;
    border: 1px solid black;
    padding: 2rem 5rem;
    overflow: auto;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.3);
    border-radius: 0.5rem;
}

.crud-container h1{
    font-weight: bold;
    font-size: 24px;
}

.crud-header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
    border-bottom: 1px solid black;
}

.crud-container table{

    font-size:large;
    width: 100%;
}

.crud-container button{

    margin: 2px;

}
